@model SM.Web.Models.Districts.DistrictSettingsModel

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Settings</h2>

<p>
  
</p>
@using (Html.BeginForm("Settings", "Districts", FormMethod.Post))
{
    @Html.HiddenFor(m => m.DistrictId)
    <table class="table">
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.SalesManDetailsModel[0].SalesManId)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.SalesManDetailsModel[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesManDetailsModel[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesManDetailsModel[0].RepsonsabilityType)
            </th>
            <th></th>
        </tr>

    @for (var i= 0; i < Model.SalesManDetailsModel.Count; i++)
    {
        <tr>
            <td>
                @Html.HiddenFor(m => m.SalesManDetailsModel[i].SalesManId)
                @Html.HiddenFor(m => m.SalesManDetailsModel[i].DistrictId)
                @Html.DisplayFor(m => m.SalesManDetailsModel[i].SalesManId)
            </td>
            <td>
                @Html.DisplayFor(m => m.SalesManDetailsModel[i].FirstName)
            </td>
            <td>
                @Html.DisplayFor(m => m.SalesManDetailsModel[i].LastName)
            </td>
            <td>
                    @if (Model.SalesManDetailsModel[i].DistrictId == Model.DistrictId) {
                        @Html.DropDownListFor(m => m.SalesManDetailsModel[i].RepsonsabilityType, EnumHelper.GetSelectList(typeof(SM.Web.Models.SalesMen.SalesManResponsabilityTypes), Model.SalesManDetailsModel[i].RepsonsabilityType))
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.SalesManDetailsModel[i].RepsonsabilityType, EnumHelper.GetSelectList(typeof(SM.Web.Models.SalesMen.SalesManResponsabilityTypes), SM.Web.Models.SalesMen.SalesManResponsabilityTypes.None))
                    }
                
            <td>
                
            </td>
                
        </tr>
    }

    </table>

    <hr>
    
    <input type="submit" value="Submit"/>
}